<template>
  <div>
    <h1>List demo ở đây nè</h1>
    <a-button type="primary" @click="goto('/demo/btn')">
      Button
    </a-button>

    <hr />
    <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...<br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ... <br />
    ...
  </div>
</template>

<script>
export default {
  methods: {
    goto(url = "/") {
      this.$router.push(url);
    },
  },
};
</script>
