<template>
  <a-layout id="components-layout-demo-fixed-sider">
    <a-layout-sider
      :style="{ overflow: 'auto', height: '100vh', position: 'fixed', left: 0 }"
    >
      <div class="logo" />
      <a-menu theme="dark" mode="inline" :default-selected-keys="['4']">
        <a-menu-item v-for="i in menus" :key="i.key" @click="goto(i.path)">
          <a-icon :type="i.icon" />
          <span class="nav-text">{{ i.name }}</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout :style="{ marginLeft: '200px', minHeight: '100vh' }">
      <a-layout-header :style="{ background: '#fff', padding: 0 }" />
      <a-layout-content :style="{ margin: '24px 16px 0', overflow: 'initial' }">
        <div
          :style="{ padding: '24px', background: '#fff', textAlign: 'center' }"
        >
          <router-view />
        </div>
      </a-layout-content>
      <a-layout-footer :style="{ textAlign: 'center' }">
        Your Company ©2021 Created by ICT24H
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
import menus from "@/services/left-menu";
export default {
  data() {
    return {
      menus,
    };
  },
  methods: {
    goto(url = "/") {
      this.$router.push(url);
    },
  },
};
</script>
<style>
#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
